
.barra_apps{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    background: rgba(196, 196, 196, 0.47);
    width: 120rem;
    height: 7rem;
    margin-left: 8rem;
    margin-right: 8rem; 
    border-radius: 1.9rem;
    opacity: 100%;
    padding: 0.5rem;

}

/*.iconos{
    width: 9.6rem;
    height: 9.7rem;
}+/