.menu{
    display: none; /*EL ELEMENTO EXISTE PERO NO SE MUESTRA */
    width: 32rem;
    height: 40rem;
    background: #E8DAE8;
    margin-top: 3rem;
    border-radius: 1.9rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 6rem;
    padding-left: 1rem;
    cursor: pointer;
}
.circle{
    align-items: flex-start;
    margin-top: 0.5rem;
    padding-left: 0.6rem;
    width: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
.activar{
    display: block;
}
.icon-Apss-menu img{
    width: 6rem;
    margin-left: 1rem;
    margin-top: 1rem;

}
.icon-Apss-menu span{
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 4rem;
}








