.menu{
    display: none; /*EL ELEMENTO EXISTE PERO NO SE MUESTRA */
    width: 32rem;
    height: 32rem;
    background: #E8DAE8;
    margin-top: 7rem;
    border-radius: 1rem;
    margin: auto;
    padding-left: 1rem;
    cursor: pointer;
    position: fixed;
    left: 40%;
    top: 20%;
}
.circle1{
    align-items: flex-start;
    margin-top: 1.5rem;
    padding-left: 0.6rem;
    width: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;

}
.circle2{
    align-items: flex-start;
    margin-top: 1.5rem;
    padding-left: 0.6rem;
    width: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;

}
.circle3{
    align-items: flex-start;
    margin-top: 1.5rem;
    padding-left: 0.6rem;
    width: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;

}
.activar{
    display: block;
}
.desactivar{
    display: none;
}
.icon-Apss-menu img{
    width: 6rem;
    margin-left: 1rem;
    margin-top: 1rem;

}
.icon-Apss-menu span{
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 6rem;
}
.carpeta{
    width: 7rem;
    position: fixed;
    margin-top: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}







